.rad30 {
    border-radius: 30px;
}


/* Panes */
body {
    background-color: #212121;
}
#pane {
    background-color: #3D3D3D;
}


/* Form */
#formEmailLabel {

}
#formEmail {
    padding: 5px;

    border-color: #777777;
    border-style: solid;
    border-width: 5px;
}

#formPasswordLabel {
    display: inline-block;
}
#formPassword {
    padding: 5px;
    
    border-color: #777777;
    border-style: solid;
    border-width: 5px;
}

#formButton {
    background-color: #3295CD;
}