/* Global Declarations */
.rad30 {
    border-radius: 30px;
    padding: 10px;
}


/* Title */
#titlebar {
    text-align: center;
    width: 100%;

    user-select: none;
    -webkit-app-region: drag;
}


/* Exit button */
#titleExit:nth-child(0) {
    fill: #a73939;
}
#titleExit:nth-child(1) {
    fill: #722020;
}

/* Minimize button */
#titleMinimize:nth-child(0) {
    fill: #e4d120;
}
#titleMinimize:nth-child(1) {
    fill: #8a7c14;
}

/* Maximize button */
#titleMaximize:nth-child(0) {
    fill: #49b93f;
}
#titleMaximize:nth-child(1) {
    fill: #275e21;
}


/* Panes */
#container {
    background-color: #212121;
}
#pane {
    background-color: #3D3D3D;
    margin-left: 5%;
    margin-right: 5%;
}